{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PokeCatch{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'collection/css/styles.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock %} 
</head>

<script>
    function togglePassword(fieldId, btn) {
        const passwordField = document.getElementById(fieldId);
        if (passwordField.type === "password") {
            passwordField.type = "text";
            btn.innerText = "🚫";  // Cambiar ícono a "no ver"
        } else {
            passwordField.type = "password";
            btn.innerText = "👁️"; // Cambiar ícono a "ver"
        }
    }
</script>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark pokecatch-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">PokeCatch</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/capture/">Capturar Pokémon</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/captured/">Ver Capturados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/missing/">Ver Faltantes</a>
                        </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/transfer_pokemon/">Transferir Pokémon</a>
                        </li>
                    {% endif %}
                </ul>
    
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    

    <div class="container py-5">
        {% block content %}
        <!-- Aquí cargan las páginas específicas -->
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
