{% extends 'collection/base.html' %}
{% load static %}

{% block title %}Pokémon Capturados{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="text-center mb-4">
        <h1>Mis Pokémon Capturados</h1>
        <p class="lead">Aquí puedes gestionar todos los Pokémon que has capturado</p>
    </div>

    {% include 'collection/_pokemon_grid_captured.html' %}
</div>

{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const releaseForm = document.getElementById('releaseForm');
    
    releaseForm.addEventListener('submit', function(e) {
        e.preventDefault();
        
        fetch(this.action, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({})
        })
        .then(response => {
            if (response.ok) {
                window.location.reload(); // Recarga forzada
            } else {
                console.error('Error en la eliminación');
            }
        })
        .catch(error => console.error('Error:', error));
    });
});
</script>
{% endblock %}